.homeWrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Arial, sans-serif;
  margin-top: 67px;
  /* border-top: 1px; */
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.askButton {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.askButton:hover {
  background-color: #4338ca;
}

.welcome {
  font-size: 14px;
}

.userName {
  color: blue;
  font-weight: bold;
}
.questionItem p {
  padding-top: 0px !important ;
}

.searchBar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  /* padding: 10px 0; */
}

.userIcon {
  font-size: 32px;
  margin-right: 10px;
}

.questionDetails {
  flex: 1;
}

.questionTitle {
  color: black;
  /* font-weight: bol; */
  font-size: 15px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  font-size: 13px;
  color: #444;
  padding-top: 0px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.noQuestions {
  font-style: italic;
  color: gray;
  margin-top: 20px;
}

.arrow {
  font-size: 18px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.arrowButton {
  width: 98px !important;
  font-size: 21px;
  padding: 3px;
}
