.question {
  width: 900px;
  margin: 0 auto;
  margin-top: 96px !important;
}
.question input {
  width: 96%;
}
.question h2 {
  color: black;
  font-weight: normal;
}

.message {
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: blue;
  background-color: #e0f2ff; /* Light blue background */
  border: 1px solid blue;
}

.error {
  color: red;
  background-color: #ffe0e0; /* Light red background */
  border: 1px solid red;
}
