* {
  margin: 0;
  padding: 0;
}
.errorBorder {
  border: 1px solid red !important;
}

.form__wrapper {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: start; /* Aligns towards the top */
  height: 100vh; /* Full viewport height */
  padding-top: 5%; /* Moves form slightly down */
  margin-left: 278px;
  /* margin-top: 15px; */
}

.signup__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  align-items: center;
  margin-top: 80px;
  margin-left: 10px;
}

/* .join {
  padding-top: 20px;
} */

.signup__container input {
  /* width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 3px; */

  display: flex;
  justify-content: center;
  width: 94%;
  padding: 8px;
  margin: 9px 0;
}

.Signin {
  color: #ff8502;
}

.Signin:hover {
  color: blue;
}

.name__fields {
  display: flex;
  gap: 10px; /* Space between fields */
}

.name-fields input {
  flex: 1; /* Make both inputs take equal width */
  min-width: 0; /* Prevents overflowing */
}

/* .checkbox__group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1px 0;
  } */
.terms {
  font-size: 15px;
  margin-bottom: 5px;
}

.pp_terms {
  color: #ff8502;
  font-size: 16px;
}

.pp_terms:hover {
  color: blue;
}

button {
  width: 100% !important;
  padding: 10px;
  background-color: #5069f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffbf7a;
  /* color: black; */
}

button:disabled {
  background-color: #ccc;
}

.account__user {
  color: #ff8502;
  text-align: center;
  padding-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

.success {
  color: green;
  font-size: 12px;
}

.inputError {
  border: 1px solid red !important;
  outline: none;
}

.inputError:focus {
  border-color: red;
  box-shadow: 0 0 3px red;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.passwordWrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
  z-index: 1;
}
div a {
  font-size: 16px;
}
